<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iframe Window</title>
    <style>
        body {
/*            background-color: #D53C2F;
*/            text-align: center;
        }
        form, h3{
            position: absolute;
            top: 50%; left: 50%; transform: translate(-50%, -50%);
        }
        input{
            border: 1px solid transparent;
            color: transparent;
        }
    </style>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">

</head>
<body>

    <form action="/predict" method="POST" id="urlform"> 
        <input type="text" id="results" name="link"> 
    </form>
    <h3 id="response1">{{pred_pos}}</h3>
    <br/>
    <h3 id="response2">{{pred_neg}}</h3>
    
    <script>
        console.log('page opened')
        // addEventListener support for IE8
        function bindEvent(element, eventName, eventHandler) 
        {
            if (element.addEventListener) {
                element.addEventListener(eventName, eventHandler, false);
            } else if (element.attachEvent) {
                element.attachEvent('on' + eventName, eventHandler);
            }
        }

        // Send a message to the parent
        var sendMessage = function (msg) {
            // Make sure you are sending a string, and to stringify JSON
            window.parent.postMessage(msg, '*');
        };

        var results = document.getElementById('results'),
            messageButton = document.getElementById('message_button');

        // Listen to messages from parent window
        bindEvent(window, 'message', function (e) {
            results.value = e.data;
            console.log('Given url is ', e.data)
            console.log('value is ', results.value)
            document.getElementById('urlform').submit();

        });

        // Send random message data on every button click
        // bindEvent(messageButton, 'click', function (e) {
        //     sendMessage('' + random);
        // });

        sendMessage('' + [document.getElementById('response1').innerText, document.getElementById('response2').innerText]);

    </script> 

</body>
</html>
